@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
p {
  color: #727272;
  line-height: 26px;
}
h1,
h2,
h3,
h4 {
}

.text-primary {
  color: #131313;
}
.text-secondary {
  color: #ff900e;
}
.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  padding: 15px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
/* Header Styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 30px 0;
}
header > .navigation {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header > .navigation h3 {
  color: var(--Dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
}
header nav > ul {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}
header nav > ul a {
  text-decoration: none;
}
header nav > ul a:hover {
  color: #ff900e;
  transition: all;
  text-decoration: 1s;
}
header .banner {
  max-width: 1440px;
  margin: 0 auto;
}
header .banner .banner-description {
  margin: 100px auto 30px;
  /* width: 40%; */
  text-align: center;
}
header .banner .banner-description h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}
header .banner .banner-description p {
  text-align: center;
  margin: 20px auto;
  width: 55%;
}
.banner-img {
  /* margin: 0 auto; */
  max-width: 100%;
  object-fit: cover;
}
/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* features styles */
.features {
  margin: 85px auto;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center; */
  display: flex;
  gap: 70px;
  align-items: center;
}
.features-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.features-img-container img {
  /* width: 340px; */
  height: 340px;
  object-fit: cover;
}
.features-content-container {
}

.features-content-container h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.features-content-container p {
  margin-bottom: 32px;
}
/* display features styles */
.display-features {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px; */
}
.display-features-contents {
  width: 40%;
}
.display-features-img-container {
  flex-grow: 1;
  text-align: right;
  position: relative;
}

.display-features-img-container img {
  object-fit: cover;
  height: 980px;
}
.display-features-img-container .experience {
  position: absolute;
  background-color: #ff900e;
  border-radius: 8px;
  padding: 20px 30px;
  color: white;
  text-align: center;
  bottom: -30px;
  left: 0;
  /* top: 10px; */
}
.display-features-img-container .experience h1 {
  font-size: 65px;
  font-weight: 700;
}
.display-features-contents h3 {
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  margin-bottom: 24px;
}
.display-features-contents p {
}
.feature-items {
  /* display: flex;
  gap: 20px;
  flex-direction: column; */
}
.feature-item {
  padding: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 20px 0;
}
.feature-item h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* Facts section styles */
.facts {
  margin: 85px 0;
}
.facts h3 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.facts-items-container {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}
.facts-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #ff900e;
  border-radius: 8px;
  /* padding: 20px; */
  width: 240px;
  height: 240px;
}
.facts-item img {
  width: 45px;
  /* margin: 0 auto; */
}
.facts-item h4 {
  color: var(--Dark-02, #424242);
  font-size: 45px;
  font-weight: 600;
}
/* Our Sponspors sction styles */
.sponspors {
  margin: 85px 0;
  text-align: center;
}
.sponspors h3 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sponspors-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
/* footer styles */
footer {
  max-width: 1440px;
  margin: 85px auto;
  background-color: #fff4e7;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
footer p {
  color: #424242;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  header > .navigation {
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
  }
  header > .navigation h3 {
    font-size: 40px;
  }
  header .banner .banner-description {
    width: 100%;
  }
  header .banner .banner-description h1 {
    font-size: 48px;
    font-weight: 700;
  }
  header .banner .banner-description p {
    padding: 0 5px;
    width: 100%;
  }
  .features {
    flex-direction: column-reverse;
  }

  .features-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-content-container {
    text-align: center;
  }
  .display-features {
    flex-direction: column;
    padding: 0 10px;
  }
  .display-features-contents {
    width: 100%;
    /* padding: 20px 0; */
  }
  .feature-item {
    box-shadow: 1px 1px 1px 1px #131313;
  }
  .display-features-contents h3 {
    font-size: 35px;
  }
  .display-features-img-container img {
    height: auto;
    width: 90%;
  }
  .display-features-img-container .experience {
    padding: 10px 15px;
    bottom: -30px;
    left: 0;
  }
  .display-features-img-container .experience h1 {
    font-size: 30px;
  }
  .facts {
    padding: 0 5px;
    text-align: center;
  }

  .facts-items-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  .facts-item h4 {
    font-size: 30px;
  }
  .sponspors h3 {
    font-size: 35px;
  }
  .sponspors-img-container {
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 35px;
  }
  footer {
    padding: 0 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  header > .navigation {
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
  }
  header .banner .banner-description {
    width: 100%;
  }
  header .banner .banner-description h1 {
    font-size: 48px;
    font-weight: 700;
  }
  header .banner .banner-description p {
    padding: 0 5px;
    width: 100%;
  }
  .features {
    flex-direction: column-reverse;
  }
  .features-content-container {
    text-align: center;
  }
  .feature-item {
    box-shadow: 1px 1px 1px 1px #131313;
  }
  .display-features {
    flex-direction: column;
    padding: 0 20px;
  }
  .display-features-contents {
    width: 100%;
    /* padding: 0 20px; */
  }
  .facts {
    padding: 0 10px;
    text-align: center;
  }

  .facts-items-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  .facts-item h4 {
    font-size: 35px;
  }
  /* .sponspors h3 {
    font-size: 35px;
  } */
  .sponspors-img-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 35px;
    padding: 0 10px;
    align-items: center;
  }
  footer {
    padding: 0 15px;
  }
}
